<!DOCTYPE html>
<html lang="en" ng-app="demoApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/vendor/angular/angular.min.js"></script>
    <script src="js/vendor/angular-route/angular-route.min.js"></script>
    <script src="js/vendor/angular-animate/angular-animate.min.js"></script>
</head>
<body ng-controller="MainController">
    <div class="wrapper">
        <div class="container">
            <div id="profileLabel">
                <h1>{{ time.raw| date:'hh:mm:ss' }}</h1>
                <p>Neyanbhbin</p>
            </div>
            <div id="githubLabel">
                <form github-Search-Form name="search_form" novalidate ng-submit=submit(search.github)>
                    <div class="github_icon">
                        <img src="img/github_icon.png" alt="">
                    </div>
                    <input id="searchInput" type="text" 
                    placeholder="Search GitHub" ng-model="search.github" required>
                    <input type="submit" style="position:absolute;left:-9999px"
                        ng-disabled="search_form.$invalid">
                </form>
                <ul github-result search-pattern="search.github" 
                        class="searchResult">
                    <li ng-repeat="item in items">
                    <a href="{{ item.html_url }}" class="resultTitle">
                        <span>{{ item.full_name}}</span>
                    </a>
                    <div class="repoListState">
                        <span class="resultLanguageType">
                            {{ item.language }}
                        </span>
                        <span class="resultStars">
                            Stars: {{ item.watchers }}
                        </span>&nbsp;
                        <span class="resultForks">
                            Fork: {{ item.forks }}
                        </span>
                    </div>
                    <p class="resultDescription">{{ item.description }}</p>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/services/githubSearch.js"></script>
    <script src="js/directives/git_search.js"></script>
</body>
</html>
